@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uf95rw');
  src:  url('fonts/icomoon.eot?uf95rw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uf95rw') format('truetype'),
    url('fonts/icomoon.woff?uf95rw') format('woff'),
    url('fonts/icomoon.svg?uf95rw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lamp:before {
  content: "\e901";
}
.icon-lesson-space:before {
  content: "\e92a";
}
.icon-wall-clock:before {
  content: "\e946";
}
.icon-arrow-Scrolltop:before {
  content: "\e932";
}
.icon-library-updates:before {
  content: "\e931";
}
.icon-new-library:before {
  content: "\e930";
}
.icon-new-shop:before {
  content: "\e92f";
}
.icon-about:before {
  content: "\e92e";
}
.icon-alert2:before {
  content: "\e92d";
}
.icon-clock:before {
  content: "\e933";
}
.icon-edit:before {
  content: "\e934";
}
.icon-yn:before {
  content: "\e935";
}
.icon-question-answer:before {
  content: "\e936";
}
.icon-choice:before {
  content: "\e93a";
}
.icon-move:before {
  content: "\e937";
}
.icon-fat-cross:before {
  content: "\e938";
}
.icon-settings:before {
  content: "\e939";
}
.icon-alert:before {
  content: "\e92b";
}
.icon-arrow-back:before {
  content: "\e92c";
}
.icon-exam:before {
  content: "\e929";
}
.icon-lesson:before {
  content: "\e928";
}
.icon-add-photo:before {
  content: "\e927";
}
.icon-remove-photo:before {
  content: "\e926";
}
.icon-trashbox:before {
  content: "\e925";
}
.icon-category:before {
  content: "\e924";
}
.icon-conspect:before {
  content: "\e942";
}
.icon-photo:before {
  content: "\e93b";
}
.icon-in:before {
  content: "\e93c";
}
.icon-tw:before {
  content: "\e93d";
}
.icon-new-note:before {
  content: "\e93e";
}
.icon-fb:before {
  content: "\e93f";
}
.icon-gp:before {
  content: "\e923";
}
.icon-gg:before {
  content: "\e900";
}
.icon-vk:before {
  content: "\e922";
}
.icon-notes:before {
  content: "\e921";
}
.icon-all-cards:before {
  content: "\e920";
}
.icon-new-category:before {
  content: "\e91f";
}
.icon-download1:before {
  content: "\e91e";
}
.icon-download2:before {
  content: "\e940";
}
.icon-studying:before {
  content: "\e941";
}
.icon-key:before {
  content: "\e943";
}
.icon-done:before {
  content: "\e944";
}
.icon-library:before {
  content: "\e945";
}
.icon-menu:before {
  content: "\e947";
}
.icon-layers:before {
  content: "\e91d";
}
.icon-store:before {
  content: "\e91c";
}
.icon-search:before {
  content: "\e91b";
}
.icon-subscribe:before {
  content: "\e91a";
}
.icon-unsubscribe:before {
  content: "\e919";
}
.icon-users:before {
  content: "\e918";
}
.icon-views:before {
  content: "\e917";
}
.icon-cross:before {
  content: "\e916";
}
