.new-card__wrapper {

}

.new-card__wrapper .new-card__text {
    resize: none;
    box-shadow: none;
    border: none;
    border-right: 1px solid #dee5ee;
}

.new-card__add-img {
    display: none !important;
}

.new-card__img {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
}
.new-card__img img {
    max-width: 100%;
}
.new-card__text {
    display: flex;
    flex-grow: 2;
    max-width: 100%;
}
.new-card {
    display: flex;
    justify-content: space-between;
}
.new-card__wrapper {
    flex-basis: 49%;
    float: none;
}
.js-editable .new-card__btn--add, .js-editable .new-card__btn--remove {
    display: flex;
    align-self: center;
}
.modal-bg {
    z-index: 50;
}
.modal{
    z-index: 51;
}
.modal form{
    width: auto;
}
.button{
    line-height: 1.4;
}
#tr_NOTE{
    vertical-align: top;
}
#tr_NOTE td {
    white-space: pre;
}
#cards_edit_table img[src$="hint.gif"]{
    display: none;
}