button, input[type=submit] {
    outline: none;
}
span.bottom-pagination__link {
    cursor: default;
}
.creation-data__group {
    position: relative;
}
#creationSelect-error.error,
#conspect_name-error.error,
#category_add_name-error.error {
    bottom: -10px;
}
.my-cards__search-icon {
    background: transparent;
    border: none;
}
.my-cards__search {
    outline: none;
}
.my-cards__search:focus {
    border-bottom: 1px solid #dee5ee;
}
.fcard__no-search-result{
    margin: 0 auto;
    text-align: center;
    color: #2d3b42;
    font-weight: 700;
    padding-top: 20px;
    font-size: 16px;
}
.fcards__wrapper {
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}
/*.fcard__box {*/
    /*margin-right: 2.5%;*/
/*}*/
/*.fcards__wrapper .fcard__box:nth-child(4n) {*/
    /*margin-right: 0;*/
/*}*/
.my-cards__content{
    padding-bottom: 60px;
}
.fcard__box {
    margin-bottom: 15px;
}
.my-cards__search {
    color: #8e9daf;
}
.my-cards__search:focus {
    color: #2d3b42;
}
.studying-nav__user-photo {
    background-position: center;
    background-size: cover;
}
.studying-nav__controls {
    justify-content: space-around;
}
.conspect-cards__wrapper {
    margin-top: 15px;
}
.section__more-btn-wrap {
    clear:both;
}
.user-conspects__photo-wrap{
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 149px;
    height: 149px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.user-conspects__btn--back:hover, .user-conspects__btn--back:focus{
    text-decoration: none;
}
.creation__header{
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.creation-data-preview{
    max-width: 362px;
    min-width: 265px;
    padding-right: 0;
    margin-right: 30px;
}
.creation {
    padding-top: 10px;
}
.fcard__img-wrap {
    max-width: 265px;
}
.new-card__img-width {
    max-width: 165px;
}
.change-photo__img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.change-photo__img.triggered {
    display: inline-block;
}
.studying-nav__btn-subscr.js-unsubscribe {
    color: #8e9daf;
    border-color: #8e9daf;
}
.studying-nav__btn-subscr.js-unsubscribe:hover,
.studying-nav__btn-subscr.js-unsubscribe:active,
.studying-nav__btn-subscr.js-unsubscribe:focus {
    color: #FFF;
    background-color: #8e9daf;
}
.preloader {
    position: fixed;
    z-index: 300;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
}
.preloader-outer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.preloader-inner {
    width: 50%;
    max-width: 500px;
}
.section__heading {
    padding-right: 40px;
    max-width: 100%;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    position:relative;
}
.create-notification__datepicker .create-notification__date-input {
    display:block;
    float:none;
}
label.error {
    display: block;
    bottom: -25px;
    font-size: 14px;
    z-index: 2;
}

.choosen-category__controls {
    margin-top: 5px;
}
.fcard__learning-sticker {
    right: auto;
    left: 15px;
    line-height: 32px;
    text-align: center;
    -webkit-box-shadow: 0px 2px 10px 0px #999;
    box-shadow: 0px 2px 10px 0px #999;
    cursor:pointer;
    transition: transform 0.3s;
}
.fcard__learning-sticker.js-loading {
    transform: rotateY(90deg);
}
.fcard__learning-sticker .icon {
    font-size: 33px;
}
.studying-nav__share-title {
    display: inline-block;
    vertical-align: middle;
}
.new-card__img img {
    max-height: 100%;
}
.studying-nav__share-item {
    line-height: 28px;
}
.personal-data__btn--save:disabled {
    background-color: #999;
}
/* Big conspect checkbox start */
.big-conspect-checkbox__label {

    font-weight: 400;
    font-size: 16px;
    color: #343838;
    cursor: pointer;
    user-select: none;
}
.big-conspect-checkbox__txt {
    display: inline-block;
    vertical-align: middle;
    max-width: 217px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.big-conspect-checkbox__icon {
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-left: 0;
    border: 1px solid #8e9daf;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
}
.big-conspect-checkbox__icon:before,
.big-conspect-checkbox__icon:after {
    opacity: 0;
    content: "";
    position: absolute;
    z-index: 2;
    height: 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 3px;
    background-color: #84b7e6;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
.big-conspect-checkbox__icon:before {
    top: 12px;
    left: 3px;
    width: 8px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.big-conspect-checkbox__icon:after {
    top: 9px;
    left: 5px;
    width: 17px;
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    transform: rotate(-50deg);
}
.big-conspect-checkbox__input:checked + .big-conspect-checkbox__label .big-conspect-checkbox__icon:before,
.big-conspect-checkbox__input:checked + .big-conspect-checkbox__label .big-conspect-checkbox__icon:after {
    opacity: 1;
}
/* Big conspect checkbox end */
.creation-data__alert {
    margin-top: 20px;
}
.creation-data-preview {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-top: 15px;
}
.delete-conspect__btn--submit {
    background-color: #EA1C24;
    transition: background-color 0.3s;
}
.delete-conspect__btn--submit:hover,
.delete-conspect__btn--submit:focus {
    background-color: #fe292f;
}
.new-card__wrapper.error .new-card__body {
    border: 1px solid red;
}
.modal__label {
    position: relative;
}
.modal__fieldset {
    position: relative;
}
.modal__input {
    outline: none;
    transition: border-color 0.3s;
}
.modal__input:focus {
    border-color: #555;
}
.studying-nav__settings-link:focus {
    text-decoration: none;
}
.create-notification__selection {
    width: 290px;
    position: relative;
}
.conspect-choose__descr {
    position: relative;
    width: 100%;
    padding-left: 0;
}
.new-card__text {
    display: inline-block;
    vertical-align: middle;
}
.flipper__txt-box {
    overflow: auto;
}
.exam-settings__wrapper{
    max-width: 100%;
}
.modal__fieldset{
    position: relative;
}
.exam-mchoice__next-q.disabled{
    background-color: #8e9daf;
    cursor: not-allowed;
}
.exam-mchoice__question .exam-mchoice__block {
    height: auto;
}
.exam-mchoice__question .conspect-card__body {
    max-height: 145px;
}
.examNav-burger,
.exam__navigation {
    z-index: 13;
}
.conspect-card__img {
    line-height: 139px;}
.conspect-card__img img {
    max-height: 100%;
    max-width: 99%;
}
.js-conspect_error_color {
    background-color: rgba(255,0,0,0.15)
}
.exam-mchoice__answers-wrap {
    padding-bottom: 15px;
}
.new-card__text {
    transition: all 0.2s;
}
.exam-mchoice__wrap .js-card {
    border-bottom: 1px solid #dee5ee ;
}
.exam__navigation.js-visibility,
.exam__navigation.js-visibility .examNav-burger {
    z-index: 1;
}
.download-conspect__btn {
    border: none;
}
.link-socials.active > .icon-gg {
    background-color: #f34a38;
    border: 1px solid #f34a38;
}
.link-socials.inactive:hover > .icon-gg {
    background-color: #f34a38;
    border: 1px solid #f34a38;
}
.link-socials.inactive:hover > .icon-vk {
    background-color: #4e6e93;
    border: 1px solid #4e6e93;
}
.js-sub {
    display: none;
}
.my-category__stickers {
    text-align:right;
}

/* HIDE FIRST AND LAST ARROW IN LESSON */
.flip-container:first-child .slick-prev{
    display: none;
}
.flip-container:last-child .slick-next{
    display: none;
}
/* HIDE FIRST AND LAST ARROW IN LESSON */

/*iphone jumping fix*/
.body.modal--opened {
    position: fixed;
    left: 0;
    right: 0;
}

.creation .exam__navigation {
    margin-top: 0;
}
.new-card__btn--add, .new-card__btn--remove{
    display: none;
}
.js-editable .new-card__btn--add, .js-editable .new-card__btn--remove{
    display:block;
}

.big-search__section {
    padding-top: 30px;
}

.header__right-logout-wrapper {
    left: -10px;}

/*START adding version to cards*/
.fcard__version {
    float: right;
    font-size: 11px;
    color: #8e9daf;
    cursor: default;
}
.fcard__views,
.fcard__downloads,
.fcard__version,
.fcard__ammount,
.fcard__cdate,
.fcard__author {
     display: inline-block;
     vertical-align: top;
}
.fcard__extra-info,
.fcard__social-info {
    display: block;
}
/*END adding version to cards*/

/*START download icon to card*/
.fcard__download {
    position: relative;
    top: -20px;
    z-index: 2;
    float: right;
    display: block;
    width: 33px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}
.fcard__download:hover,
.fcard__download:focus {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
/*END download icon to card*/

.conspect-cards__content {
    min-height: 65vh;
}

.about-us-container {
    margin-bottom: 30px;
}

/**/
#restore_pass_email-error.error {
    bottom: -10px;
}
#reg_title-error.error,
#reg_password_repeat-error.error {
    bottom: -22px;
}
/**/

.create-notification__datepicker-title {
    padding-left: 0;
}

/*fixing slider jumping while loading*/
.main-slider__item {
    display: none;
}
.main-slider__item:nth-child(2) {
    display: block;
}
/**/

.change-personal_image-wrap {
    height: 300px;
}
.progress_bar {
    height:2px;
    width: 100%;
}
/* Cropper of images in personal cabinet start */
#cropper-wrap {
    max-height: 400px;
}
#js-cropper-image {
    max-width: 100%;
}
#cropper-preview {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    display: none;
}
#cropper-cropped {
    max-width: 100%
}
#cropper-reset {
    fill: #8e9daf;
    border: none;
    background: none;
    transition: all 0.3s;
}
#cropper-reset:hover {
    fill: #ffd63b;
}
#cropper-apply {
    margin-top: 30px;
}
#change-image-modal .new-pass-modal__heading,
#change-image-modal .new-modal__subheading
{
    text-align: center;
}
#change-image-modal .change-img-input-label {
    margin-top: 15px;
}
#change-image-modal  .progress_bar {
    margin-top: 25px;
}
#cropper-reset {
    margin-top: 20px;
}
/* Cropper of images in personal cabinet end */

/**/
.side-menu__icon {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.side-menu__icon.icon-library-updatesicon-library-updates {
    position: relative;
}
.side-menu__icon.icon-new-category {
    font-size: 32px;
}
.side-menu__icon-notification {
    position: absolute;
    top: -5px;
    right: 0;
    z-index: 2;
    display: block;
    width: 16px;
    height: 16px;  
    line-height: 16px;
    background-color: #ea1d24;
    text-align: center;
    font-weight: bold;
    font-size: 8px;
    color: #fff;
    border-radius: 50%;
}
/**/
.bug-basket__link-wrap {
    position: fixed;
    bottom: 20%;
    right: 5%;
    z-index: 10;
    display: block;
    padding: 8px;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 5px 30px 0 rgba(209, 217, 223, 1);
}
.bug-basket__link-wrap:hover,
.bug-basket__link-wrap:focus {
    text-decoration: none;
}
.bug-basket__link-wrap:hover  .bug-basket__link {
    /*color: #ea1c24;*/
    box-shadow: 0 2px 5px 0 rgba(197, 210, 220, 1);
}
.bug-basket__link {
    display: block;
    width: 52px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    font-size: 36px;
    color: #a51318;
    box-shadow: 0 2px 15px 0 rgba(197, 210, 220, 1);
}
.bug-basket__link-wrap.bug-low {
    bottom: 8%;
}

/* NEW CONSPECTS GREEN SHADOW */
.js-new.js-conspect .fcard__box {
    box-shadow: 0 5px 30px 0 rgba(112, 197, 65, 0.75);
    -webkit-box-shadow: 0 5px 30px 0 rgba(112, 197, 65, 0.75);
}
/* NEW CONSPECTS */

/**/
#bug-notification .modal__fieldset {
    max-width: 500px;
    width: 100%;
}
#bug-notification .modal__textarea {
    max-width: 500px;
    width: 100%;
    height: 200px;
    resize: none;
}
#bug-notification .new-category-modal__btn {
    margin-bottom: 20px;
}
/**/

/* EXAM RESULTS */
.correct_answer_false .conspect-card__body {
    background-color: lightgreen;
}
.correct_answer .conspect-card__body {
    background-color: #a4e35d;
    border: 1px solid #a4e35d;
}
.wrong_answer .conspect-card__body {
    background-color: #ea1d24;
    border: 1px solid #ea1d24;
}
.wrong_answer .conspect-card__text {
    color: #fff;
}

.exam-results .exam-yn__answer--yes,
.exam-results .exam-yn__answer--no {
    color: #8e9daf;
    border: 1px solid #8e9daf;
}
.exam-yn__answer.correct_answer {
    background-color: #a4e35d;
    color: #fff;
    border: 1px solid #a4e35d;
}
.exam-yn__answer.wrong_answer {
    color: #fff;
    background-color: #ea1d24;
    border: 1px solid #ea1d24;

}

.exam-results .js-card {
    border-bottom: 2px solid #dee5ee;
    padding: 25px 0;
}

.exam-results .exam-mchoice__block {
    cursor: default;}
.exam-results .conspect-card__img {
    border: none;
}
.exam-results__btn-wrap {
    height: auto;
}
/* EXAM RESULTS */
.flipper-upper__descr {
    color: #8e9daf;
}
.flipper__txt-box {
    color: #2d3b42;
}

/* personal page */
.personal-info .section__heading {
    padding-right: 0;}
.personal-data--socials {border:none;}
.personal-data--password {
    margin: 20px 0;
    border-top: 1px solid #dee5ee;
}
.personal-info {
    border-bottom: 1px solid #dee5ee;
}
/* personal page */

/**/
.js-scrollTop {
    position: fixed;
    right: 5%;
    bottom: 32%;
    z-index: 10;
    display: none;
    width: 68px;
    height: 68px;
    font-size: 68px;
    color: #8dc44e;
    opacity: 0.5;
    transition: all 0.3s;
}
.js-scrollTop:hover,
.js-scrollTop:focus {
    text-decoration: none;
    color: #a4e35d;
    opacity: 0.9;
}
/**/

.fcard__price {
    font-weight: 700;
    color: #2d3b42;
    line-height: 16px;
}

/*basket START*/

.basket-wrap {
    padding-top: 30px;
}
.basket-heading {
    border-bottom: 1px solid #dde1e7;
}
.basket-nav__item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
    padding: 20px 15px;
    color: #8e9daf;
}
.basket-nav__text {
    vertical-align: top;
}
.basket-nav__icon  {
    fill: #8e9daf;
}
.basket-nav__item + .basket-nav__item {
    margin-left: 50px;
}

.basket-nav__item.active,
.basket-nav__item:hover,
.basket-nav__item:focus {
    color: #2d3b42;
    text-decoration: none;
    
}
.basket-nav__item.active:after,
.basket-nav__item:hover:after,
.basket-nav__item:focus:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #2894dd;
}
.basket-nav__item.active .basket-nav__icon,
.basket-nav__item:hover .basket-nav__icon,
.basket-nav__item:focus .basket-nav__icon {
    fill: #2894dd;
}

.basket-content {
    padding: 70px 0;
}
.basket-info__title,
.basket-info__num {
    font-weight: 700;
    font-size: 24px;
}
.basket-info__title {
    padding-right: 25px;
    color: #8e9daf;
}
.basket-info__num {
    color: #343838;
}



.basket-footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px solid #dde1e7;
    border-top: 1px solid #dde1e7;
}
.basket-footer__btn-buy {
    padding: 0 105px;
    color: #fff;
    background-color: #66a6f9;
    border-radius: 30px;
    border: none;
}
.basket-footer__btn-buy:hover,
.basket-footer__btn-buy:focus {
    text-decoration: none;
    color: #fff;
    background-color: #5992db;
}
/*basket END*/

/*conspect preview START*/
.conspect-preview__buy-wrap {
    padding: 20px 0;
    text-align: center;
}
.conspect-preview__buy-title {
    color: #2d3b42;
}
.conspect-preview__buy-price {
    font-weight: 700;
    font-size:24px;
    color: #2d3b42;
}
.conspect-preview__buy-btn {
    margin-top: 20px;
    padding: 0 60px;
    color: #fff;
    background-color: #66a6f9;
    border-radius: 30px;
}
.conspect-preview__buy-btn:hover,
.conspect-preview__buy-btn:focus {
    text-decoration: none;
    color: #fff;
    background-color: #5992db;
}

.conspect-preview__heading {
    display: flex;
}

.conspect-preview__title {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    color: #2d3b42;
}
.conspect-preview__text {
    color: #2d3b42;
}


.conspect-preview__img {
    max-width: 262px;
    max-height: 262px;
    width: 100%;
    margin-right: 30px;
    box-shadow: 0 5px 30px 0 rgba(227, 235, 242, 1);
    border-radius: 5px;
}


/*conspect preview END*/

/*purchases list START*/

.purchases-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.purchases-list__item-wrap + .purchases-list__item-wrap {
    border-top: 1px solid #dee5ee;
}
.purchases-list__number {
    color: #2d3b42;
}
.purchases-list__btn-toggle {
    color: #2894dd;
}
.purchases-list__btn-toggle:hover,
.purchases-list__btn-toggle:focus {
    color: #5992db;
    text-decoration: none;
}
.purchases-list__status-paid,
.purchases-list__status-pay{
    display: inline-block;
    vertical-align: top;
    padding: 0 50px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
}
.purchases-list__status-paid {
    color: #72c541;
    border: 1px solid #72c541;
}
.purchases-list__status-pay {
    color: #fff;
    background-color: #f7c41d;
}
.purchases-list__status-pay:hover,
.purchases-list__status-pay:focus {
    color: #fff;
    text-decoration: none;
    background-color: #ffd63b;
}
.purchases-list__conspects-wrap {
    display: none;
    padding: 20px 0;
}
.purchases-list__conspects-title {
    font-size:24px;
    font-weight: 700;
    color:  #2d3b42;

}

.purchases-list__btn-toggle--adaptive {
    display: none;
}
.purchases-list__width {
    width: 20%;
}
/*purchases list END*/


.exam-settings__kind-input:disabled ~ .exam-settings__kind-label {
    color: #8e9daf;
}


/**/
.studying-nav__addToLibrary-input {
    display: none;
}

.studying-nav__addToLibrary {
    margin-top: 20px;
}

#addToLibrary:checked + .studying-nav__addToLibrary-btn{
    display: none;
}
#addToLibrary:checked ~ .studying-nav__removeFromLibrary-btn {
    display: inline-block;
}

.studying-nav__addToLibrary-btn,
.studying-nav__removeFromLibrary-btn {
    width: 100%;
    padding: 0 10px;
    color: #fff;
    background-color: #66a6f9;
    border-radius: 30px;
}
.studying-nav__removeFromLibrary-btn {
    display: none;
    background-color: #8e9daf;
}

.studying-nav__removeFromLibrary-btn:hover,
.studying-nav__removeFromLibrary-btn:focus {
    background-color: rgba(142, 157, 175, 0.58);
    text-decoration: none;
    color: #fff;
}

.studying-nav__addToLibrary-btn:hover,
.studying-nav__addToLibrary-btn:focus {
    text-decoration: none;
    color: #fff;
    background-color: #5992db;
}

/**/

/**/
.header__right-cart {
    margin-right: 35px;
}
.header__right-cart-icon {
    vertical-align: bottom;
    margin-right: 5px;
}
/**/

.conspect-preview__wrap .conspect-cards__content {
    padding-top: 35px;
}

.conspect-preview__tip {
    padding-top: 10px;
    font-weight: 700;
    font-size: 24px;
    color: #8e9daf;
}

/**/
.cart-modal {
    max-width: 615px;
}

.cart-modal__body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px 10px;
    width: 100%;
    height: 100%;
}

.cart-modal__heading {
    font-weight: 700;
    color: #2d3b42;
    font-size: 36px;
}

.cart-modal__text {
    width: 100%;
    max-width: 340px;
    color: #8e9daf;
    font-size: 16px;
    text-align: center;
}

.cart-modal input {
    width: 262px;
}

.cart-modal a.button {
    width: 262px;
    color: #fff;
    background-color: #5992db;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}

.cart-modal a.button:hover, .cart-modal a.button:focus {
    color: #fff;
    background-color: #66a6f9;
    text-decoration: none;
}

.cart-modal a.button + a.button {
    margin-top: 30px;
}

.cart-modal a.button.cart-modal__btn-back {
    border: 1px solid #8dc44e;
    color: #8dc44e;
    background-color: #FFF;
}

.cart-modal a.button.cart-modal__btn-back:hover, .cart-modal a.button.cart-modal__btn-back:focus {
    border: 1px solid #a4e35d;
    background-color: #a4e35d;
    color: #fff;
}

.cart-modal__btn--txt {
    color: #8e9daf;
    font-size: 14px;
}

.cart-modal__lastCard-wrap {
    padding: 30px 0;
}
/**/

.button:disabled {
    background-color: #8e9daf;
}

/**/
.bootstrap-datetimepicker-widget a[data-action] span.icon.glyphicon {
    font-size: 15px;
    font-weight: 400;

}
.bootstrap-datetimepicker-widget a[data-action] span.glyphicon-calendar:before,
.bootstrap-datetimepicker-widget a[data-action] span.icon-wall-clock:before {
    margin-right: 10px;
}
/**/


.creation .fcard__img-wrap {
    cursor: pointer;
}


#change-image-modal .new-pass-modal__btn--txt {
    margin-top: 20px;
}

.random-flow {
    display: none;
}
.random-flow:checked + .exam-settings__kind-label:after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 1;
    left: 5px;
    top: 5px;
    background-color: #66a6f9;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


/**/
.fcard__img-wrap {
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}
/**/


.new-card__text {
    overflow: auto;
    overflow-x: hidden;
}

/**/
.conspect-tags__add-wrap {
    width: 100%;
    max-width: 656px;
}
.conspect-tags__label {
    padding-bottom: 5px;
    font-size: 16px;
    color: #2d3b42;
}
.conspect-tags__add-tip {
    font-size: 13px;
    color: #2d3b42;
}

.conspect-tags__list {
    margin-bottom: 10px;
    height: auto;
    overflow: hidden;
}
.conspect-tags__list.js-opened {
    height: auto !important;
}

.conspect-tags__list-title{
    margin-bottom: 10px;}
.conspect-tags__list-item {
    display: inline-block;
    vertical-align: top;
    margin: 0 12px 10px 0;
    padding: 12px;
    line-height: 12px;
    font-size: 12px;
    color: #8e9daf;
    background-color: transparent;
    border: 1px solid #e1e6ed;
    border-radius: 3px;
}
.conspect-tags__list-item:hover,
.conspect-tags__list-item:focus,
.conspect-tags__list-item:active {
    text-decoration: none;
    color: #fff;
    background-color: #84b7e6;
    border-color: #84b7e6;
}
.conspect-tags__list-more,
.conspect-tags__list-more:active,
.conspect-tags__list-more:visited {
    font-size: 14px;
    color: #8e9daf;
    text-decoration: underline;
}
.conspect-tags__list-more:hover,
.conspect-tags__list-more:focus {
    text-decoration: none;
    color: #2d3b42;
}
/**/
.flip-btn__with-txt {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 28px;
}
.change-img-input-label {
    position: relative;
    z-index: 2;
    display: block;
    margin-top: 30px;
    width: 200px;
    height: 40px;
    line-height: 36px;
    border: 2px dashed #BC1C88;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    color: #BC1C88;
    background-color: #fff;
    transition: color 0.3s, background-color 0.3s;
}
.change-img-input-label:hover {
    color: #fff;
    border-style: solid;
    background-color: #BC1C88;
}
.change-img-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    border: none;
    background: transparent;
}
.change-img-input-span {

}
.new-modal__subheading {
    color: #8e9daf;
}

/* LEARN NOTIFICATION MENU */
.icon-notifications{
    height:25px;
    background-image: url("../images/notifications.svg")
}
/* LEARN NOTIFICATION MENU */

/* NOTIFICATIONS PAGE */
.notification-clear_button-wrap {
    position:absolute;
    right: 0;
    top: 0;
    height:45px;
}
.notification-clear_button {
    font-size: 16px;
    color: #8e9daf;
    border: 1px solid #dee5ee;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    height: 45px;
    line-height: 45px;
}
.notification-clear_button:hover {
    color: #fff;
    background-color: #8e9daf;
}
/* NOTIFICATIONS PAGE */

/* TAGS */
.chips.js-tags {
    min-height: 40px;
}
/* TAGS */

/**/
.categories-listing .fcard__box-wrap[data-study='1'] .fcard__img-wrap,
.categories-listing .fcard__box-wrap[data-study='1'] .fcard__lower {
    opacity: 0.6;
}
.choosen-category__content .fcard__box-wrap[data-study='1'] .fcard__img-wrap,
.choosen-category__content .fcard__box-wrap[data-study='1'] .fcard__lower {
    opacity: 0.6;
}
/**/

/* AUTHOR STYLES */
.studying-nav__publish-wrap {
    margin-top: 20px;
    text-align:center;
}
.studying-nav__publish-button {
    padding: 0 22px;
    color: #fff;
    background-color: #66a6f9;
    border-radius: 30px;
    border: none;
    font-weight: 700;
}
.conspect_publish__textarea-wrap {
    width: 100%;
    max-width: 500px;
}
.conspect_publish__textarea {
    height: 200px;
    max-width: 500px;
    width: 100%;
}
/* AUTHOR STYLES */

/* Calendar Notification START */
.calendar__wrap {
    position: relative;
    z-index: 1;
}
.calendar__aside {
    position: absolute;
    z-index: 2;
    width: 300px;
    height: 100%;
    overflow: auto;
}
.calendar__aside-header {
    margin: 10px 0 0 0;
    font-size: 28px;
}
.calendar__aside-date {
    margin-bottom: 10px;
    font-size: 24px;
    display: block;
}
.calendar__notif-list {
    padding: 0;
    margin: 0;
    height: calc(100% - 185px);
    overflow: auto;
}
.calendar__notif-item {
    position: relative;
    z-index: 1;
    display: block;
    padding: 1px 25px 1px 5px;
    margin: 0 3px 3px 0;
    font-size: 16px;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    border-radius:5px;
    background-color: #5992db;
}
.calendar__notif-name {
    cursor: pointer;
}
.calendar__notif-delete {
    position: absolute;
    z-index: 2;
    right: 3px;
    top: 0;
    float: right;
    color: #fff;
    border: none;
    background: transparent;
}
.calendar__notif-delete:hover {
    color: tomato;
}
.fc-header-toolbar .fc-button {
    background: #fff;
}
.fc-header-toolbar .fc-button:hover {
    background: #eaeaea;
}
.fc-header-toolbar .fc-state-disabled.fc-button:hover {
    background: #fff;
}
.fc-unthemed td.fc-today {
    background: #eee;
}
.fc-scroller {
    height: auto !important;
}
#calendar {
    width: calc(100% - 305px);
    float: right
}
.calendar-page__section {
    padding-top: 30px;
}

.calendar-page__add-event {
    width: 100%;
    max-width: 400px;
    height: 33.59px;
    padding: 0 10px;
    color: #333;
    border: 1px solid;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    background-color: #fff;
}
.calendar-page__add-event:hover {
    background-color: #eaeaea;
}
.calendar-legend {
    margin-top: 10px;
    font-size: 13px;
}
.calendar-legend__item {}
.calendar-legend__color {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
}
.calendar-legend__color.daily {
    background-color: #ff8000;
}
.calendar-legend__color.weekly {
    background-color: #1c75b0;
}
.calendar-legend__color.monthly {
    background-color: #569c30;
}
.calendar-legend__txt {
    display: inline-block;
    vertical-align: middle;
}
.js-opacity{
    opacity: 0.3;
}
.fc-event{
    transition: opacity 0.2s;
}
.fc-event.month,
.calendar__notif-item.month {
    background: #569c30;
    border: 1px solid #569c30;
}
.fc-event.week,
.calendar__notif-item.week {
    background: #1c75b0;
    border: 1px solid #1c75b0;
}
.fc-event.day,
.calendar__notif-item.day {
    background: #ff8000;
    border: 1px solid #ff8000;
}
.fc-event .fc-content .fc-time {
    font-weight: 400;
}
.create-notification__choose-box .autocomplete-content{
    position: absolute;
    z-index: 100;
    background: white;
    top: 30px;
    left: 0;
    width: 100%;
    max-height: 187px;
    overflow: auto;
    list-style: none;
    padding-left: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}
.conspect_autocomplete-input__wrap {
    position: relative;
    display: inline-block;
}
.create-notification__choose-box .autocomplete-content li span {
    padding-left: 10px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.create-notification__choose-box .autocomplete-content li {
    height: 30px;
    overflow: hidden;
    margin: 1px 0;
    box-shadow: 0 0 3px 1px lightgrey;
    cursor: pointer;
}
.create-notification__choose-box .autocomplete-content li:hover {
    background-color: #ccc;
}
.create-notification__choose-box .autocomplete-content .highlight {
    padding-left: 0;
    font-weight: 700;
}
.create-notification__choose-box .autocomplete-content img.right {
    float: right;
}
.create-notification__choose-box .autocomplete-content img {
    max-height: 100%;
}
.notification-opacity {
    opacity: 0.7;
}
.fc-day-number {
    color: #000;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
}
.fc-day-number.selected{
    background-color: lightgrey;
}
.fc-day-number:hover {
    color: #000;
    background-color: lightgrey;
}
/* Calendar Notification END */
#create-notification-modal {
    height: 570px;
}

/* Personal Author START */
.personal-author__datetime-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 10px 0 25px;
}
.personal-author__datetime-wrap {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    margin-right: 10px;
}
.personal-author__datetime-show {
    display: inline-block;
    height: 34px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #888;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.personal-author__datetime-show:hover {
    background-color: #aaa;
}
.personal-author__datetime-input {
    height: 34px;
    margin-left: 5px;
    padding: 0 5px;
    color: #222;
    background: transparent;
    border: none;
    border-bottom: 1px solid #dee5ee;
    outline: none;
    -webkit-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    transition: border-color 0.3s;
}
.personal-author__datetime-input:focus {
    border-color: #2d3b42;
}
.personal-author__stat {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    color: #2d3b42;
    border: 1px solid #dee5ee;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.personal-author__stat-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 10px 5px;
}
.personal-author__stat-row:not(:first-child):hover {
    background-color: #eee;
}
.personal-author__stat-row:not(:last-child) {
    border-bottom: 1px solid #dee5ee;
}
.personal-author__stat-heading {
    font-weight: 700;
}
.personal-author__stat-col {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 23%;
    font-size: 16px;
}
/* Personal Author END */

.reg-modal__content--right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.auth-modal__body, .reg-modal__body {
    padding: 35px 10px;
}
.reg-modal__auth-box {
    position: relative;
    z-index: 1;
    margin-top: auto;
    padding-top: 35px;
    text-align: center;
}
.reg-modal__auth-misc {
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 22px;
    font-weight: 700;
    color: #2d3b42;
    white-space: nowrap;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.button.reg-modal__auth {
    max-width: 201px;
    margin: 0 auto;
    padding: 0;
    color: #fff;
    background-color: #a4e35d;
}
.notif-page__to-calendar {
    padding: 15px 0;
    text-align: center;
}
.button.notif-page__to-calendar-btn {
    border: none;
    color: #fff;
    background-color: #5992db;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.button.notif-page__to-calendar-btn:hover {
    background-color: #66a6f9;
}
.edit-notification__delete-btn {
    color: tomato;
    border: none;
    background: transparent;
}
/* Magnific Popup Start */
/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
    padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
    top: 0;
    bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
    padding: 0;
}
/*
for zoom animation
uncomment this part if you haven't added this code anywhere else
*/
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
/* Magnific Popup End */

/* Side-menu Bottom btn and collapse Start */
.side-menu__item-bottom {
    margin-top: auto;
}
.side-menu__item-bottom .side-menu__collapse-small {
    display: none;
}
.side-menu__item-bottom.to-small .side-menu__collapse-big {
    display: none;
}
.side-menu__item-bottom.to-small .side-menu__collapse-small {
    display: inline;
}

.tiny .fcard__box,
.tiny .fcard__box.fcard__box--large {
    height: 120px;
}
.tiny .fcard__box .fcard__img-wrap {
    display: none;
}
.tiny .my-conspects__section-wrapper .fcard__box,
.tiny .categories-listing .fcard__box,
.tiny .my-conspects__section-wrapper .fcard__box.fcard__box--large,
.tiny .categories-listing .fcard__box.fcard__box--large  {
    padding-top: 30px;
}
.tiny .my-conspects__section-wrapper .fcard__box .fcard__lower,
.tiny .categories-listing .fcard__box .fcard__lower,
.tiny .my-conspects__section-wrapper .fcard__box.fcard__box--large .fcard__lower,
.tiny .categories-listing .fcard__box.fcard__box--large .fcard__lower {
    height: 90px;
}
.tiny .my-conspects__section-wrapper .fcard__box .fcard__learning-sticker,
.tiny .categories-listing .fcard__box .fcard__learning-sticker,
.tiny .my-conspects__section-wrapper .fcard__box.fcard__box--large .fcard__learning-sticker,
.tiny .categories-listing .fcard__box.fcard__box--large .fcard__learning-sticker,
.tiny .my-conspects__section-wrapper .fcard__box .my-category__stickers,
.tiny .categories-listing .fcard__box .my-category__stickers,
.tiny .my-conspects__section-wrapper .fcard__box.fcard__box--large .my-category__stickers,
.tiny .categories-listing .fcard__box.fcard__box--large .my-category__stickers {
    top: 5px;
}
/* Side-menu Bottom btn and collapse End */

.search-results__global{
    padding-bottom: 15px;
}

.conspect-cards__wrapper .section__heading {
    padding-bottom: 17px;
}
.conspect-cards__wrapper .section__heading-txt{
    font-size: 28px;
    line-height: 30px;
}
#heapbox_notification_period .holder[rel=""] {
    color: #aaa;
}
.create-notification__conspect-link {
    padding: 3px;
}

/*- DISABLED SHOP BUTTONS #TODO REMOVE WHEN NEEDED -*/
.link-disabled {
    pointer-events: none;
    background-color: #dfdfdf!important;
    color: #333;
}
/*- END DISABLED SHOP BUTTONS -*/

.fcard__unsubscribe {
    min-width: 108px;
}

#cart-modal .fcard__box-wrap{
    width: 100%;
}
#cart-modal .fcard__price {
    display: none;
}
#cart-modal .fcard__extra-info {
    display: none;
}

/*SHOP image edit*/
.conspect-preview__img {
    width: 262px;
    height: 262px;
    background-size: cover;
    background-position: center;
}

/*conspect detail page START*/
@media (min-width: 992px) {
    .conspect-card__wrapper.question {
        padding-right: 15px;
    }
    .conspect-card__wrapper.answer {
        padding-left: 15px;
    }
    .conspect-card__text {
        min-width: 295px;
    }
}
.conspect-cards__holder {
    position: relative;
}
.conspect-cards__holder .icon {
    font-size: 33px;
    line-height: 33px;
    text-align: center;
    -webkit-box-shadow: 0px 2px 10px 0px #999;
    box-shadow: 0px 2px 10px 0px #999;
    cursor: pointer;
    transition: transform 0.3s;
    color: #b8e461;
    border-radius: 50%;
}
.conspect-cards__holder .icon:before {
    font-size: 33px;
}
.conspect-cards__holder .conspect-card__sticker {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    margin-top: 14px;
    transform: translate(-50%, -50%);
    transition: transform 0.4s;
}
.conspect-cards__holder .conspect-card__sticker.js-loading {
    transform: translate(-50%, -50%) rotateY(90deg);
}

/* ==== SHOP ====*/

.fcard__extra-date {
    font-size: 11px;
    color: #8e9daf;
}
.fcard__box-wrap-shop {
    max-width: 265px;
    margin: 0 auto;
}
.shop-conspect_preview .fcard__author,
.shop-conspect_preview .fcard__unsubscribe {
    font-size: 16px;
}
.shop-conspect_preview .fcard__unsubscribe .icon {
    vertical-align: baseline;
}
.shop-conspect_preview .user-conspects__title {
    margin-bottom: 3px;
}
.fcard__author-wrap.shop {
    margin-bottom: 5px;
}
.conspect-preview__buy-buttons {
    margin-bottom: 30px;
}
.conspect-preview__buy-buttons .button {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: normal;
    max-width: 300px;
}
.conspect-preview__buy-buttons .button + .button {
    margin-left: 30px;
}
.shop-conspect__subtitle {
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: bold;
}
.shop-conspect__desc {
    font-size: 18px;
    color: #8e9daf;
    line-height: 1.3;
}
.main-tabs__content.shop {
    margin-bottom: 35px;
}
.shop .slick-slide img {
    max-height: 200px;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
}
/*conspect detail page END*/


/* auther-shop detail page START*/
.user-conspects__info-wrap.nobottom {
    padding-bottom: 0;
    border-bottom: none;
}
.auther-conspects__photo-wrap {
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.auther-conspects__about-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}
.auth-shoop__content {
    padding-bottom: 60px;
}
.courses__button-holder {
    display: inline-block;
}
.courses__button-holder + .courses__button-holder {
    margin-left: 30px;
}
.courses-conspects__title {
    font-size: 28px;
    font-weight: bold;
}
.courses-count__conspects {
    color: #8e9daf;
    font-weight: bold;
    margin-bottom: 10px;
}
.courses-conspects__title.buy {
    color: #8dc44e;
}
.courses__button-holder .courses-conspects__title {
    margin-bottom: 5px;
}
.fcard__promo-sticker {
    margin: 0 3px;
    border-width: 2px;
    line-height: 28px;
    -webkit-box-shadow: 0px 5px 20px 1px #a5d272;
    -moz-box-shadow: 0px 5px 20px 1px #a5d272;
    box-shadow: 0px 5px 20px 1px #a5d272;
}
.fcard__promo-sticker .icon{
    font-size: 19px;
    line-height: 28px;
}
.fcard__promo-sticker--paid {
    background-color: #2894dd;
    border: 2px solid #84b7e6;
    -webkit-box-shadow: 0px 5px 20px 1px #84b7e6;
    -moz-box-shadow: 0px 5px 20px 1px #84b7e6;
    box-shadow: 0px 5px 20px 1px #84b7e6;
}
.fcard__box.rounded {
    border-radius: 5px;
}
.conspect__block {
    position: relative;
    top: 13px;
    width: 115px;
    margin: 0 auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: -1px 3px 17px 0px rgb(173, 185, 200);
    -moz-box-shadow: -1px 3px 17px 0px rgb(173, 185, 200);
    box-shadow: -1px 3px 17px 0px rgb(173, 185, 200);
}
.conspect__block:before,
.conspect__block:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.conspect__block:before {
    background-color: #ccdbec;
    z-index: -1;
    top: -4px;
    left: 4px;
}
.conspect__block:after {
    background-color: #b0c2d6;
    z-index: -2;
    top: -8px;
    left: 8px;
}
.conspect__block-link {
    position: absolute;
    font-size: 10px;
    color: #2d3b42;
    text-transform: uppercase;
    display: inline-block;
    top: 50%;
    left: 50%;
    width: 85%;
    padding: 8px 0;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 30px;
    -webkit-transition: box-shadow .3s;
    -moz-transition: box-shadow .3s;
    -ms-transition: box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: box-shadow .3s;
}
.conspect__block-link:hover,
.conspect__block-link:focus {
    text-decoration: none;
    color: #2d3b42;
    box-shadow: 1px 1px 1px;
    -webkit-box-shadow: 1px 3px 8px -3px #000;
    -moz-box-shadow: 1px 3px 8px -3px #000;
    box-shadow: 1px 3px 8px -3px #000;
}

.conspect__block-img {
    padding: 50%;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    background-size: cover;
    background-position: center;
}
.conspect__block-title {
    padding: 8px;
    background-color: #fff;
    color: #000;
    font-size: 12px;
    text-align: center;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    max-height: 46px;
    overflow: hidden;
}
.courses__conspect-row {
    padding-top: 20px;
    border-bottom: 1px solid #dee5ee;
}
.courses__conspect-row.last {
    border-bottom: none;
}
/*pop-up rent conspect START*/
.modal-buttons__rent {
    margin-top: 55px;
    margin-bottom: 15px;
}
.modal-buttons__rent .btn{
    font-size: 16px;
    color: #fff;
    display: inline-block;
    padding: 0 25px;
    line-height: 60px;
    height: 60px;
    margin: 0 15px;
}
.modal-buttons__rent .btn.continue {
    background-color: #8dc44e;
}
.modal-buttons__rent .btn.continue:hover,
.modal-buttons__rent .btn.continue:focus {
    background-color: #a4e35d;
}

.modal-buttons__rent .btn.buy {
    background-color: #2894dd;
}
.modal-buttons__rent .btn.buy:hover,
.modal-buttons__rent .btn.buy:focus {
    background-color: #66a6f9;
}
.modal-buttons__delete {
    margin: 0 0 15px 0;
}
.modal-rent__link {
    display: inline-block;
}
.modal-buttons__delete a {
    font-size: 16px;
    color: #44505f;
}
.modal-buttons__delete a:hover,
.modal-buttons__delete a:focus {
    text-decoration: none;
    color: #000;
}
.modal-buttons__delete .icon {
    font-size: 18px;
    vertical-align: middle;
}
.rent__сonditions {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}
/*pop-up rent conspect END*/

/* SEARCH PAGE CHECKBOXES */
.big-search__input-wrap {
    flex-wrap: wrap;
}
.big-search__input-wrap .exam-settings__kind {
    flex-basis: 85%;
    margin: 0;
}
/* SEARCH PAGE CHECKBOXES */

.conspect-cards__item {
    transition: opacity 0.5s;
}

.conspect-cards__item.js-card[data-study='1'] {
    opacity: 0.5;
}

@media screen and (min-width: 1200px) {
    body.open-modal-js {
        margin-left: -17px;
    }
    body.open-modal-js .main-slider__section {
        margin-left: 17px;
    }
}
@media screen and (max-width: 1200px) {
    .conspect-cards__wrapper{
        margin-top: -5px
    }
    .exam-timer--fixed {
        font-size:20px;
        bottom:10px;
        right:10px;
        opacity:0.9;
        pointer-events:none;
        color: #5992db;
    }
    .exam-timer--fixed .exam-timer__icon {
        display: none;
    }
    .creation .exam__navigation {
        top: -55px;
    }
    .personal .section__heading {
        padding-right: 0;
        width: 100%;
    }
    .bug-basket__link-wrap {
        display: none;
    }
    .fcard__download {
        top: 0;
    }
    .fcard__box--large {
        height: 350px;
    }
    .fcard__box--large .fcard__lower {
        height: 120px;
    }

    .conspect-tags__list {
        height: 65px;
        margin-bottom: 0;
        overflow-y: auto;
    }
    .conspect-tags__list-item {
        margin: 0 5px 5px 0;
        padding: 5px;
    }
    .conspect-tags__list-more {
        display: none;
    }
    #calendar {
        width: 100%;
        float: none;
    }
    .calendar__notif-item {
        display: inline-block;
        vertical-align: top;
        padding-right: 30px;
    }
    .calendar__aside {
        position: static;
        width: 100%;
        height: auto;
        max-height: initial;
    }

}
@media screen and (max-width: 991px) {
    .personal-data__group {
        max-width: 262px;
    }
    .link-socials.active, .link-socials.inactive {
        width: 33%;
    }
    .personal__logout-btn {
        max-width: 262px;
        margin: auto;
    }
    .personal__logout-btn:hover,
    .personal__logout-btn:focus {
        text-decoration: none;
        color: #fff;
    }
    .purchases-list__btn-toggle {
        display: none;
    }
    .purchases-list__btn-toggle--adaptive {
        display: block;
    }
    .purchases-list__item {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
    }
    .purchases-list__main,
    .purchases-list__date,
    .purchases-list__conspects,
    .purchases-list__money,
    .purchases-list__status {
        padding: 10px 0;
    }
    .purchases-list__width {
        width: auto;
        text-align:center;
    }
    .personal-author__stat-col {
        width: 20%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .personal-author__stat-row .personal-author__stat-col:first-child {
        width: 40%;
    }
    .conspect-cards__wrapper .section__heading {
        padding-bottom: 0;
    }
    .conspect-preview__heading {
        margin-top: 17px;
    }
    .conspect-cards__holder .conspect-card__sticker {
        top: 3px;
        left: auto;
        right: 0;
        margin-top: 0;
    }
    .conspect-cards__content {
        margin-top: 10px;
    }
}
@media screen and (max-width: 767px) {
    .section__heading-txt{
        font-size: 30px;
    }
    .fcard__box {
        width: 100%;
    }
    .flipper-question, .flipper-answer {
        padding: 20px 15px 65px;
    }
    .lesson-progress__title{
        display: none;
    }
    .lesson-progress--adaptive{
        padding-top:30px;
    }
    .fcard__img-wrap {
        max-width: 355px;
    }
    .user-conspects__photo-wrap {
        display: block;
    }
    .section-exam {
        background: none;
    }
    .creation-data__group {
        width: 275px;
        margin-right: 0;
    }
    .footer__content-link--txt {
        display: none;
    }
    .link-socials__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
    }
    .personal-info__login-wrapper {
        text-align: center;
    }
    .personal-data__group {
        margin: auto;
    }
    .basket-footer {
        flex-wrap: wrap;
        text-align: center;
    }
    .basket-footer__info {
        width: 100%;
        margin-bottom: 15px;
    }
    .basket-footer__btn-buy {
        margin: auto;
    }
    .basket-info__title {
        padding-right: 5px;
    }
    .conspect-preview__heading {
        flex-wrap: wrap;
    }
    .conspect-preview__img {
        margin: auto;
    }
    .conspect-preview__info {
        padding-top: 20px;
    }
    .conspect-preview__title {
        text-align: center;
    }
    .conspect-preview__tip {
        font-size: 18px;
    }
    .fcard__download {
        top: -5px;
    }
    .conspect-tags__add-wrap {
        margin: 20px 0;
    }
    .notification-clear_button-wrap {
        position: relative;
        margin-top: 15px;
    }
    .personal-author__datetime-form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .personal-author__datetime-wrap {
        margin-right: 0;
    }
    .personal-author__stat-col {
        font-size: 12px;
    }
    .personal-author__stat-col {
        width: 23%;
    }
    .personal-author__stat-row .personal-author__stat-col:first-child {
        width: 30%;
    }
    .reg-modal__content--right {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .reg-modal__auth-box {
        width: 100%;
        margin-top: 10px;
    }

    .conspect-preview__buy-buttons .button + .button {
        margin-left: auto;
    }
    .conspect-preview__buy-buttons {
        text-align: center;
    }
    .fcard__author-wrap.shop {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .auther-conspects__photo-wrap {
        width: 160px;
        height: 160px;
        padding: 0;
        margin: 0 auto 10px;
    }
    .main-slider__section.shop {
        display: none;
    }
    .conspect__block {
        margin-bottom: 35px;
    }
    .courses-conspect__desc .conspect-preview__buy-buttons {
        margin-bottom: 10px;
    }

    /* SEARCH PAGE */
    .big-search__input-wrap .exam-settings__kind-wrapper {
        padding: 5px 15px;
    }
    /* SEARCH PAGE */
}
@media screen and (max-width: 480px) {
    .fcards__wrapper .fcard__box-wrap {
        width: 100%;
    }
    .conspect-card__img {
        min-width: 82px;
    }
    .creation .exam__navigation {
        top: -90px;
    }
    .basket-nav__item + .basket-nav__item {
        margin-left: 0;
    }
    .main-tabs__link {
        font-size: 13px;
    }
    a.fc-more {

    }
    .fc-view-container *, .fc-view-container :after, .fc-view-container :before {
        text-align: center;
        vertical-align: top;
    }
    .modal-rent__link {
        display: block;
        margin-bottom: 10px;
    }
    .modal-buttons__rent {
        margin-top: 35px;
    }
    .modal-buttons__rent .btn {
        width: 170px;
    }
    .courses__button-holder + .courses__button-holder {
        margin-left: auto;
    }
    .conspect-preview__buy-buttons .button {
        margin-top: 0;
    }
}
